@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
*{
    font-family: 'Oxygen', sans-serif;
}
.avatar {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nickname {
    font-size: 2vw;
    text-align: center;
    margin: 0 auto;
    display: block;
}
a:link, a:visited {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #0000cc;
}
li {
    display: inline;
    margin-left: 20px;
}